@import url(https://fonts.googleapis.com/css?family=Fjalla+One);

body {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  font-family: 'Fjalla One', sans-serif;
}
header {
  display: flex;
  flex-basis: 85%;
  height: 80px;
  align-items: center;
  border: 1px solid;
}
#kcal_image {
  width: 75px;
  height: 75px;
}
footer {
  display: flex;
  flex-basis: 85%;
  height: 25px;
  justify-content: flex-end;
  align-items: center;
  border: 1px solid;
}
#content {
  display: flex;
  flex-basis: 85%;
}
#nav {
  display: flex;
  flex-basis: 15%;
  min-height: 250px;
  padding: 10px;
  border: 1px solid;
}
#navmenu {
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
}
#navlistitem {
  flex-basis: 100%;
}
#article {
  display: flex;
  flex-grow: 1;
  min-height: 250px;
  padding: 10px;
  border: 1px solid;
}
a {
  text-decoration: none;
  color: black;
}
a:hover {
  background-color: rgb(61, 59, 71);
  color: white;
}
