@import url(https://fonts.googleapis.com/css?family=Fjalla+One);

body {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  font-family: 'Fjalla One', sans-serif;
}
header {
  display: flex;
  flex-basis: 100%;
  height: 80px;
  align-items: center;
  padding: 10px;
  border: 1px solid;
}
#kcal_image {
  width: 75px;
  height: 75px;
}
footer {
  display: flex;
  flex-basis: 100%;
  height: 80px;
  justify-content: flex-end;
  align-items: center;
  padding: 10px;
  border: 1px solid;
}
#content {
  display: flex;
  flex-wrap: nowrap;
}
#nav {
  display: flex;
  flex-basis: 15%;
  min-height: 250px;
  padding: 10px;
  border: 1px solid;
}
#article {
  display: flex;
  flex-basis: 70%;
  min-height: 250px;
  padding: 10px;
  border: 1px solid;
}
